<?xml version="1.0"?>
<model>
  <name>white_ground</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author> <!-- Genel bilgi vermek için kullanılır. -->
    <name>Serkan</name>
    <email></email>
  </author>

  <description>
    a gray ground plane
  </description>

</model>
