<?xml version="1.0"?>
<model>
  <name>first_model</name>
  <version>1.0</version>
  <sdf version="1.7">ground_plane.sdf</sdf>

  <author> <!-- Genel bilgi vermek için kullanılır. -->
    <name>Serkan</name>
    <email>serkanmazlum306@gmail.com</email>
  </author>

  <description>
    a red ground plane
  </description>

</model>
